# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/
*.pyc

# Video Clips & CCTV Footages
backend/cctv_footages/
backend/WatchList/
backend/watchlist/
backend/data/

# Generated Static Face Crops & Galleries
backend/static/crops/
backend/static/gallery/
backend/static/cctv/
backend/static/watchlist/

# Media Extensions
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.jfif

# SQLite Databases & Lock Files
*.db
*.db-wal
*.db-shm
*.db-journal